
*,
*::before,
*::after {
    box-sizing: border-box;
}
*{
  border:auto;
}

:root{
  --light-pink:pink;
  --dark:#3b3a30;
  --lighty:#c0ded9;
  --gray:#b2c2bf;
  --wheat:#eaece5;  
}
.--dark{
  background-color: var(--dark);
  color:#fff;
}

.--gray{
  background-color: var(--gray);
  color:#000;
}




body{
  
  font-family:Lucida, Garamond , Helvetica;
  font-weight : 900 ;
  
}


.cart{
  background-color: var(--dark);
  color:#fff;
  boder:15px;
  border-radius:12px;
  text-align:center;

}

.btn{
  background-color:var(--lighty);
  

}

input{
  background-color:var(--wheat);
}

  
img{
  height:35vh;
}

a{
  background-color:var(--wheat);
  text-decoration:none;
  color:black;
  opacity:0.5;
}


  a:hover{
    text-decoration:underline;
    transform: scale(1.5);
  

 

  }

#getData{
  background-color:var(--lighty);
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)) ;
  gap:20px;

}  
.dataContainer{
  background-color:var(--lighty);
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)) ;
  gap:20px;

}  
